.portfolio-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.images-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
  margin-top: 0px;
  letter-spacing: 0.06em;
  color: var(--first-text-color);
}

.images-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.185;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-top: 0px;
  margin-bottom: 0px;
}

.buttons-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 50px;
}

.buttons-item:not(:last-child) {
  margin-right: 8px;
}

.buttons-item:nth-child(-n + 3) {
  margin-bottom: 15px;
}

.portfolio-btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: 0px;
  padding: 6px 22px;
  border-radius: 4px;
  background-color: rgb(245, 244, 250);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--hover-color);
    color: var(--background-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);

    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);

    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }
}

.cards-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards-item {
  width: 450px;
  outline: 1px solid #eeeeee;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &:hover,
  &:focus {
    background: #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.cards-link {
  text-decoration: none;
}

.cards-box {
  padding: 20px 24px 20px 24px;
}

.cards-images-box {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-height: 294px;
  height: 100%;
}

.cards-hover-container {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  .cards-link:hover &,
  .cards-link:focus & {
    transform: translateY(0);
  }
}

.cards-hover-text {
  padding: 63px 24px 63px 24px;
  font-family: Roboto;
  height: 100%;
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--background-color);
}

@media screen and (min-width: 768px) {
  .cards-item {
    max-width: 354px;
  }

  .cards-item:nth-child(2n + 1) {
    margin-right: 30px;
  }

  .cards-item:not(:last-child) {
    margin-bottom: 30px;
  }

  .buttons-menu {
    justify-content: center;
    max-width: 100%;
  }

  .cards-menu {
    max-width: 768px;
    margin: 0 auto;
    justify-content: start;
  }
}

@media screen and (min-width: 1200px) {
  .cards-menu {
    max-width: 1200px;
    margin: 0 auto;
  }

  .cards-item {
    &:nth-child(-n + 6) {
      margin-bottom: 30px;
    }

    &:nth-child(3n + 3) {
      margin-right: 0px;
    }

    &:nth-child(-n + 9) {
      margin-right: 30px;
    }

    &:nth-child(3),
    &:nth-child(6),
    &:nth-child(9) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
}
