.qualities-section {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  margin: 0 auto;
}

.qualities-icons-container {
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto 30px auto;
}

.qualities-icons-svg {
  width: 70px;
  height: 70px;
}

.qualities-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
}

.qualities-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 0px;
  margin-top: 0px;
}

.qualities-item {
  max-width: 450px;
  width: 100%;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
//   .qualities-menu &:not(:last-child) {
//     margin-right: 30px;
//   }

@media screen and (min-width: 768px) {
  .qualities-menu {
    display: flex;
    flex-wrap: wrap;
    max-width: 1199px;
    width: 100%;
  }

  .qualities-item {
    max-width: 354px;
  }

  .qualities-title {
    text-align: start;
  }

  .qualities-menu {
    max-width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .qualities-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .qualities-item {
    width: 270px;
  }

  .qualities-menu {
    max-width: 1200px;
    margin: 0 auto;
  }
}
